<div id="rules2">
    <ul class="tab">
      <li id="menu_1">Official Rules</li>
      <li id="menu_2">Privacy Policy</li>
    </ul>
    <div id="content">
      <div id="rules" class="show">
        <h3>Official Rules</h3>
        <p>VELVEETA® Mini Blocks Sweepstakes Official Rules

NO PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE OR PAYMENT WILL NOT INCREASE YOUR CHANCES OF WINNING.

THE FOLLOWING PROMOTION IS INTENDED FOR VIEWING IN THE UNITED STATES ONLY AND SHALL ONLY BE CONSTRUED AND EVALUATED ACCORDING TO UNITED STATES LAW.  DO NOT PROCEED IN THIS SWEEPSTAKES IF YOU ARE NOT LOCATED IN THE UNITED STATES.

VELVEETA® Mini Blocks Sweepstakes (the “Promotion”) starts August 15, 2016 at 5:00:00 pm. U.S. Eastern Time (“ET”) and ends October 3, 2016 at 11:00 a.m. ET (“Promotion Period”).

Eligibility:
Promotion is open to residents of the fifty (50) United States and the District of Columbia, who are at least 18 years of age.  Employees, officers, and directors of Kraft Heinz Foods Company ("Sponsor”), Facebook, radio station partners, TMPG: Trade Marketing Promotional Group (“Administrator”) and their respective parents, subsidiaries, affiliates, promotion, related companies, agencies, and agents and members of their immediate family (defined as spouse, parent, sibling or child, and their respective spouses, regardless of where they reside) and persons living in the same household of such employees, officers, and directors whether or not related, are not eligible to enter or win. Void where prohibited by law.  Promotion is subject to all applicable federal, state and local laws. By participating, you agree to abide by these Official Rules and the decisions of Administrator, which are final and binding in all respects.

This Promotion is in no way sponsored, endorsed or administered by Facebook.

How to Enter:
During the Promotion Period, visit the official VELVEETA® page on Facebook at Facebook.com/Velveeta and follow the links and instructions. Complete and submit the online entry form. A purchase of VELVEETA® Mini Blocks is not required in order to enter.  Entries will not be judged. One (1) entry per person/Facebook Account/ e-mail and/or IP Address.

Any attempt by any individual to exceed the above-indicated entry limit by using multiple/different e-mail or IP addresses, identities, or any other methods, will void all that individual's entries and that individual will be disqualified. Use of any automated program or like means to submit an entry will result in disqualification. Sponsor, Administrator, radio station partners, Facebook and their respective agencies are not responsible for postage due to mail or for late, lost, inaccessible, corrupted garbled/illegible, misdirected, incomplete or invalid submissions (by Facebook or postal mail, as applicable), all of which are void and will not result in Sweepstakes entry. Proof of transmission of completed entry does not constitute proof of receipt of same or proof of entry in Sweepstakes. In the event of dispute as to the identity or eligibility of a potential winner who entered via posting a photo, the winning entry will be declared made by the "Authorized Account Holder" of the Facebook account used to enter the Sweepstakes provided he/she is eligible according to these Official Rules. The "Authorized Account Holder" is defined as the natural person who is assigned to a Facebook account by www.Facebook.com

You may also enter the Sweepstakes without the need to take any photo or post on Facebook by hand printing your full name, address (including city and zip code), daytime telephone number, date of birth, e-mail address (if any) on a 3 ½” x 5” card and mailing it in an envelope with proper postage affixed to: VELVEETA® Mini Blocks Sweepstakes Entry, 711 Westchester Ave, Suite 102, White Plains, NY 10604.  Entries must be postmarked by the entry deadline and received no later than three (3) days thereafter.


Use of a mobile device to submit Facebook entry may result in the imposition of charges by your wireless carrier. You are therefore advised to consult your wireless rate plan PRIOR TO using a mobile device to submit your Facebook entry.  Wireless internet access and/or text messaging capacity is not available on all mobile devices or wireless carriers or in all areas. If you choose to enter via Facebook using your mobile phone, standard text messaging and data fees for messages sent and received may apply to use of mobile device for Sweepstakes entry

By submitting a Facebook entry, you represent and warrant that the entry:
(a) is solely your original work product (DO NOT SHARE another's person's post/entry);
(b) does not infringe upon the rights of any third party;
(c) has not been previously published or have won any award in a contest or competition;
(d)  is truthful in all material respects.

Without limiting the foregoing, you represent and warrant that you have obtained permission from any person shown in your photo or recipe for use of his/her image** as part of the Promotion. Upon request, you will provide written proof of such permission. Failure to do so when requested or if such proof is deemed inadequate by Administrator in its sole discretion may result in disqualification.

**If person in photo or recipe is a minor in his/her jurisdiction of residence (generally, under age 18), the permission of the person’s parent or legal guardian must instead be obtained.

POSTED ENTRIES REPRESENT SOLELY THE VIEWS/OPINIONS OF THE INDIVIDUAL ENTRANT AND DO NOT REFLECT THE VIEWS/OPINIONS OF KRAFT HEINZ FOODS COMPANY OR ADMINISTRATOR IN ANY MANNER. SPONSOR AND ADMINISTRATOR EACH EXPRESSLY DISCLAIM ANY LIABILITY UNDER ANY LEGAL THEORY IN CONJUNCTION WITH MONITORING, MODERATING OR SCREENING ENTRIES.

Subject only to the rights reserved by Facebook as operator of its social network, entrant grants to Sponsor and its designees (including Administrator) the non-exclusive, irrevocable, perpetual, worldwide, royalty-free, transferable, sublicenseable right and license to use, perform, exhibit, reproduce and/or otherwise exploit his/her entry in any manner and in any and all distribution channels, venues or media now known or hereafter devised, without further notice or any compensation to entrant. Entrant waives any “Moral Right of Authors” (Droit Moral) in the entry.

Prize Drawing:
There will be one (1) prize in the Promotion: The prize winner will be selected in a random drawing held from among all eligible entries received during the Promotion Period. For the avoidance of doubt, provided that it is eligible under these Official Rules, the content of an entry will have no bearing on the winner selection process. The drawing will be conducted on or about October 24, 2016.

Prize, Odds of Winning and Winner Notification:
One (1) Prize winner will win one (1) $500 American Express® Gift Card*.
ARV: $500.

*(Used for prize identification purposes only; no endorsement/sponsorship is intended or implied.)

Use of gift card is subject to terms/conditions indicated thereon which may include expiration
date (where lawful). Winner is solely responsible for any applicable federal, state, and local taxes and all unspecified expenses or fees associated with prize acceptance, receipt and use. No substitution, assignment, or transfer of prize permitted, except by Sponsor or Administrator, who reserves the right to substitute prize with another prize of equal value if advertised prize cannot be awarded as stated for any reason. Prize cannot be redeemed or exchanged for cash by winner (except where required by law).

In the event that the potential prize winner cannot be contacted, or prize is returned as undeliverable, potential winner forfeits prize without compensation. In the event that potential prize winner is disqualified for any reason, potential winner forfeits prize. In the event of prize forfeiture, an alternate winner will be selected in a random drawing from all remaining eligible entries received for the drawing.

Administrator’s decision is final and binding on all matters relating to this Promotion.  Potential winner who entered by posting a photo or recipe will be contacted via the email address provided in their entry, asking them to submit the required information to validate the prize claim and ship the prize. Potential winner must then respond to the email with all requested prize claim information (including full name, date of birth, complete mailing address and e-mail address) within a time period specified by Sponsor or prize will be forfeited and Sponsor will have no further obligation to such winner. Failure to respond within four (4) days to the initial notification may result in disqualification and selection of an alternate winner. Prize will be fulfilled by mail approximately 3-7 weeks after receipt of winner's prize claim information, subject to verification of potential winner’s eligibility and full compliance with these Official Rules. If the potential winner cannot be contacted, within the required time period, or if the prize is returned as undelivered, potential winner forfeits such prize and an alternate winner may be selected. Any potential winner who entered by postal mail will be contacted by postal mail, phone, or e-mail (if supplied), in Administrator’s sole discretion, and required to supply any information required to validate/fulfill the prize claim, subject to the same time limits described above. Each potential winner (regardless of method of entry) may be required to sign and return an affidavit of eligibility, liability release and publicity release (where lawful) within five (5) days of prize notification. If applicable, failure to comply with the Affidavit/Release requirement may result in disqualification and selection of an alternate winner. If any eligible potential winner is deemed a minor under the laws of his/her state of residence, any requested documents must be signed by a parent or legal guardian and Sponsor reserves the right in its sole discretion to award the prize to or in the name of the parent or legal guardian of the minor.

Odds of winning depend on the total number of eligible entries received.

General Conditions:
Sponsor reserves the right to cancel or modify the Promotion if fraud, technical failures, or any other factor beyond its control impairs the integrity of the Promotion, as determined by Administrator in its sole discretion.

In such event, the winner will be selected via random drawing comprised of all eligible photo or recipe entries that are not affected by the problem (if possible) and all eligible postal mail entries, or by some other means deemed by Administrator in its discretion, to be appropriate. Administrator reserves the right, in its sole discretion, to disqualify any individual it determines, in its sole discretion, to be tampering with the entry process or the operation of this Promotion or to be acting in violation of these Official Rules or in a disruptive manner. Any attempt by any person to deliberately damage any website related to the Promotion or undermine the legitimate operation of this Promotion may be a violation of criminal and civil laws and, should such an attempt be made, Sponsor and Administrator each reserves the right to seek damages from any such person to the fullest extent permitted by law (as well as disqualifying such individual, if appropriate). Administrator’s failure to enforce any term of these Official Rules shall not constitute a waiver of that provision.

Publicity Release:
Except where prohibited by law, participation in the Promotion and acceptance of prize constitutes winner’s consent to Sponsor's and its designees' (including Administrator’s) use of winner’s name, likeness, voice, opinions, hometown, and state and other indicia of persona for promotional, trade, or advertising purposes in any media without geographic or time limitation, and without additional payment or consideration.

Liability Release:
By entering, entrant agrees to release and hold harmless Sponsor, Administrator, their respective partners and agencies radio station partners, Facebook, their respective related companies, and each of their respective officers, directors, employees, and agents, from and against any claim or cause of action arising out of participation in the Promotion or receipt or use or misuse of the prize.

Limitations of Liability:
Sponsor, Administrator, their respective partners and agencies, radio station partners, Facebook (collectively, “Released Parties”) are not responsible for and you hereby release the Released Parties from any claims arising from: (1) incorrect or inaccurate transcription of entry information or lost, stolen, illegible, inaccessible, corrupted, incomplete, misdirected entries, postage due mail, or entries  received through impermissible or illegitimate channels, all of which are void and will be disqualified; (2) technical failures of any kind, including but not limited to the malfunctioning of any telephone, mobile device, computer, network, hardware, or software (this also includes the inability of Sponsor and Administrator to receive entries due to filtering by Facebook and the inability to contact potential winner via direct message); (3) the unavailability or inaccessibility of any website or any other service; (4) unauthorized human intervention in any part of the entry process or the Promotion and/or incomplete or inaccurate information being displayed on any website whether due to unauthorized human intervention, equipment failure or malfunction, or other cause; (5) electronic or human error which may occur in the administration of the Promotion or the processing of submitted entries; or (6) any injury or damage to persons or property, including but not limited to an individual’s computer or mobile device (or any information/materials stored thereon), which may be caused, directly or indirectly, in whole or in part, by participation in the Promotion.

Disputes / Choice of Law:
To the fullest extent permitted by law, you agree that: (1) any and all disputes, claims and causes of action arising out of or connected with this Sweepstakes or the award of the prize  shall be resolved individually, without resort to any form of class action, and exclusively by state or federal courts located in Westchester County, New York, (2) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, but in no event attorneys' fees; and (3) no punitive, incidental, special, consequential or other damages, including without limitation lost profits may be awarded (collectively, "Special Damages"), and (4) you hereby waive all rights to claim Special Damages and all rights to have such damages multiplied or increased.  The internal, substantive law of New York governs the Sweepstakes and all aspects related thereto including construction, validity, interpretation, and enforceability of these Official Rules. By participating in Sweepstakes, you agree to submit to the personal and exclusive jurisdiction of the courts located in Westchester County, New York.

SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE MAY NOT APPLY TO YOU.

Winner's List:
For a copy of the winner list, mail a self-addressed stamped envelope to VELVEETA® Mini Blocks Sweepstakes Winner List Request, 711 Westchester Ave, Suite 102, White Plains, NY 10604.  Requests must be received by October 24, 2016.

</p>
    </div>
        <div id="policy" class="hide">
          <h3>Privacy Policy</h3>
          <p>This is a policy...</p>
        </div>
    </div>
</div>

<div id="box">
</div>

<div id="box2">
  <p class="text">
        <%= image_tag("icon-alert.png", :size => "10x10") %>
        In order to qualify for a chance to win, all emails must include:
        Full Name, date of birth, and mailing address
      </p>
  <div id="email-link">
        <p class='text2'>
          <%= image_tag("icon-envelope.png", :size => '40x30') %>
          Entry@KoolAidsweeps.com
        </p>
  </div>
  <div id="media-images">
        <p>
          <%= image_tag("icon-facebook.png", :size => '30x30') %>
          <%= image_tag("icon-twitter.png", :size => '30x30') %>
          <%= image_tag("icon-pinterest.png", :size => '30x30') %>
        </p>
  </div>
</div>
