<!--Main Div (70%)-->
<div id="main" >
  <!--Darker centered box -->
  <div id="box">
    </div>
    <!--Holds info in main div -->
      <div id="box2">
        <p class="text">
            <%= image_tag("icon-alert.png", :size => "10x10") %>
            In order to qualify for a chance to win, all emails must include:
            Full Name, date of birth, and mailing address
        </p>
      <div id="email-link">
            <p class='text2'>
                <%= image_tag("icon-envelope.png") %>
                <a href="mailto:Entry@KoolAidsweeps.com" target="_top">Entry@KoolAidsweeps.com

                </a>
            </p>
      </div>
      <div id="media-images">
            <p>
            <a href= "https://www.facebook.com/sharer">
                <%= image_tag("icon-facebook.png", :size => '30x30') %>
            </a>
            &nbsp
            &nbsp
            &nbsp
            <a href= "https://twitter.com/intent/tweet?">
              <%= image_tag("icon-twitter.png", :size => '30x30') %>
            </a>
            &nbsp
            &nbsp
            <a href= "https://pinterest.com/pin/create/button">
              <%= image_tag("icon-pinterest.png", :size => '30x30') %>
            </a>
          </p>
      </div>
      <div id="footer-text">
          <p class='text3'>
              No Purchase Necessary. Limit of 1 entry per person. Must be 18 years of age
              or older to enter. Sweepstakes is open to all legal residents of the
              fifty (50) United States and District of Columbia who are at least eighteen (18)
              years of age at the time of entry. Void outside the United States, in Puerto Rico
              and where prohibited by law. Sweepstakes 7/27/15.
          </p>
      </div>
    </div>
</div>

<!--Main Div2 (30%) -->
<div id="rules_privacy" >
  <ul class="tab">
    <li id="menu_1">Official Rules</li>
    <li id="menu_2">Privacy Policy</li>
  </ul>
  <div id="content">
    <div id="rules" class="show">
      <h3>Official Rules</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna
        magna, sollicitudin a tellus vitae, dictum euismod ligula. Curabitur ac
        laoreet turpis, sit amet maximus ligula. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Nam vestibulum tellus eget tempor
        mollis. Phasellus tincidunt condimentum facilisis. Lorem ipsum dolor sit
         amet, consectetur adipiscing elit. Ut sed enim eros. Pellentesque magna
          turpis, eleifend at turpis eget, sollicitudin dignissim urna. Duis
          tincidunt faucibus diam rhoncus dictum. Curabitur sollicitudin
          pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
          tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
          et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
          suscipit odio at mattis facilisis. Vestibulum at risus et urna
          tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
          ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
          faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
          potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
          scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
          morbi tristique senectus et netus et malesuada fames ac turpis
          egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
           ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
           vitae augue nec congue. Integer congue pharetra sagittis. Integer
           consequat ut velit sed bibendum. Nulla eu turpis in ex elementum
           sagittis vel in lectus. Sed elit leo, consequat quis dignissim id,
           dictum id augue. Curabitur facilisis elementum congue. Quisque
           sodales porttitor enim, et sollicitudin ante consectetur quis. In
           auctor, massa in efficitur pulvinar, justo ante fringilla lacus,
           pulvinar hendrerit elit risus id mi. Aenean vulputate augue ut erat
           facilisis, id rutrum felis ullamcorper. Morbi rhoncus pellentesque
           nunc, nec hendrerit elit tempor ut. Phasellus ut bibendum augue,
           eu ultricies arcu. Vestibulum lectus neque, porta eget tempor et,
           fermentum non augue.
           Curabitur sollicitudin
           pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
           tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
           et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
           suscipit odio at mattis facilisis. Vestibulum at risus et urna
           tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
           ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
           faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
           potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
           scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
           morbi tristique senectus et netus et malesuada fames ac turpis
           egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
           Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
            vitae augue nec congue. Integer congue pharetra sagittis.
            Curabitur sollicitudin
            pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
            tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
            et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
            suscipit odio at mattis facilisis. Vestibulum at risus et urna
            tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
            ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
            faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
            potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
            scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
             ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
             vitae augue nec congue. Integer congue pharetra sagittis.
         </p>
  </div>
      <div id="policy" class="hide">
        <h3>Privacy Policy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna
          magna, sollicitudin a tellus vitae, dictum euismod ligula. Curabitur ac
          laoreet turpis, sit amet maximus ligula. Interdum et malesuada fames ac
          ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus
          orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Nam vestibulum tellus eget tempor
          mollis. Phasellus tincidunt condimentum facilisis. Lorem ipsum dolor sit
           amet, consectetur adipiscing elit. Ut sed enim eros. Pellentesque magna
            turpis, eleifend at turpis eget, sollicitudin dignissim urna. Duis
            tincidunt faucibus diam rhoncus dictum. Curabitur sollicitudin
            pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
            tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
            et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
            suscipit odio at mattis facilisis. Vestibulum at risus et urna
            tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
            ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
            faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
            potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
            scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
             ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
             vitae augue nec congue. Integer congue pharetra sagittis.
             Curabitur sollicitudin
             pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
             tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
             et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
             suscipit odio at mattis facilisis. Vestibulum at risus et urna
             tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
             ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
             faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
             potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
             scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
             morbi tristique senectus et netus et malesuada fames ac turpis
             egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
             Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
              vitae augue nec congue. Integer congue pharetra sagittis.
              Curabitur sollicitudin
              pulvinar facilisis. Suspendisse egestas, massa ullamcorper rhoncus
              tempus, turpis enim porta orci, at tincidunt dolor quam ac nisi. Ut
              et sem vitae nulla sagittis cursus sit amet eget orci. Phasellus
              suscipit odio at mattis facilisis. Vestibulum at risus et urna
              tincidunt iaculis vitae convallis felis. Fusce sem lacus, fermentum
              ut condimentum eget, ullamcorper sit amet diam. Aliquam augue nulla,
              faucibus sed tincidunt ut, volutpat sit amet diam. Suspendisse
              potenti. Morbi vestibulum ex a massa facilisis commodo. Nunc
              scelerisque scelerisque quam, quis congue nisl. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis
              egestas. Quisque metus felis, porta at tincidunt at, finibus ut nulla.
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
               ridiculus mus. In hac habitasse platea dictumst. Vivamus pharetra
               vitae augue nec congue. Integer congue pharetra sagittis.
           </p>
      </div>
    </div>
</div>
