<div id="rules2">

  <ul class="tab">
    <li id="menu_1">Official Rules</li>
    <li id="menu_2">Privacy Policy</li>
  </ul>

<div id="rules_content">
  <div id="rules" class="show">
    <h3>Official Rules</h3>
    <p>NO PURCHASE NECESSARY.  A PURCHASE OR PAYMENT WILL NOT INCREASE YOUR
    CHANCES OF WINNING.</p>
  </div>

  <div id="policy" class="hide">
    <h3>Privacy Policy</h3>
    <p>This is a policy...</p>
  </div>
</div>
</div>

<div id="box">
  </div>

<div id="box2">
  <p class="text">
    <%= image_tag("icon-alert.png", :size => "10x10") %>
    In order to qualify for a chance to win, all emails must include:
    Full Name, date of birth, and mailing address
  </p>

<div id="email-link">
  <%= image_tag("icon-envelope.png", :size => "40x30") %>
  <p>
    Entry@KoolAidsweeps.com
  </p>

  </div>


<div id="media-images">
<p>
    <%= image_tag("icon-facebook.png", :size => "20x20") %>
    <%= image_tag("icon-twitter.png", :size => "20x20") %>
    <%= image_tag("icon-pinterest.png", :size => "20x20") %>
  </p>
</div>



</div>
